[package]
name = "simse"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "*", features = ["derive"] }
tokio = { version = "*", default-features = false, features = [
    "macros",
    "rt-multi-thread",
    "parking_lot",
    "fs",
] }
versions = { version = "*", features = ["serde"] }
rustls = "*"
axum = "*"
tracing = "*"
tracing-subscriber = "*"
notify = "*"
anyhow = "*"
toml = "*"
