[workspace]
resolver = "2"
members = ["xtask", "simse", "simse-config", "simse-web"]

[profile.dev]
opt-level = 1
codegen-units = 16
overflow-checks = true

[profile.release]
lto = true
codegen-units = 1
